# `{{ name }}`
{% if page_type == 'envelope' %}

{{ description }}

## {{ title }} Attributes

{{ table }}

{% elif page_type == 'wire_object' %}

{{ description }}

This is the schema for {{ title }}, the properties of wire object type `{{ name }}`.

{% if used_by %}
**Used by:** {% for ref in used_by %}[{{ ref.title }}]({{ ref.link }}){% if not loop.last %}, {% endif %}{% endfor %}

{% endif %}

All wire objects have a set of basic [ARENA Message](arena-message) envelope attributes: `{object_id, action, type, persist, data}`.
- The `type` attribute must be set to `"{{ envelope_type }}"` for this wire object.
- The `data` attribute defines the `{{ name }}` object-specific attributes listed below.

{% for group in groups %}

### {{ group.label }} Properties

{{ group.table }}

{% endfor %}
{% elif page_type == 'wire_object_simple' %}

{{ description }}

This is the schema for {{ title }}, the properties of wire object type `{{ name }}`.

{% if used_by %}
**Used by:** {% for ref in used_by %}[{{ ref.title }}]({{ ref.link }}){% if not loop.last %}, {% endif %}{% endfor %}

{% endif %}

All wire objects have a set of basic [ARENA Message](arena-message) envelope attributes: `{object_id, action, type, persist, data}`.
- The `type` attribute must be set to `"{{ envelope_type }}"` for this wire object.
- The `data` attribute defines the `{{ name }}` object-specific attributes listed below.

## {{ title }} Data Attributes

{{ table }}

{% elif page_type == 'component' %}

{{ description }}

This is the schema for {{ title }}, the properties of object `{{ name }}`.{{ ' Part of the **' ~ definition_group ~ '** definition set.' if definition_group }}

{% if used_by %}
**Used by:** {% for ref in used_by %}[{{ ref.title }}]({{ ref.link }}){% if not loop.last %}, {% endif %}{% endfor %}

{% endif %}

## {{ title }} Attributes

{{ table }}

{% endif %}
