{% if 'deprecated' in prop_schema -%}
from deprecated import deprecated

{%- endif -%}
from .attribute import Attribute


{% if 'deprecated' in prop_schema -%}
@deprecated("{{ definition }}")
{%- endif -%}
class {{ prop_class }}(Attribute):
    """
    """

    def __init__(self, **kwargs):
        super().__init__(**kwargs)
