    """
    {{ prop_class }} attribute class to manage its properties in the ARENA: {{ definition(prop_name, prop_schema) }}
    Usage: {{ prop_usage }}

    {% if prop_schema.properties -%}
    {% for propname, prop in prop_schema.properties.items() -%}
    {% if 'deprecated' not in prop and propname != 'object_type' -%}
    :param {% if prop.items %}{{ jstype2pytype(prop.type, prop['items']['type']) }}{% else %}{{ jstype2pytype(prop.type, None) }}{% endif %} {{ propname.replace('-', '_') }}: {{ definition(propname, prop) }}{% if 'default' in prop %}{{ jsenum2str(prop) }} Defaults to '{{ prop.default }}'{% endif %} (optional)
    {% endif %}
    {%- endfor %}
    {%- endif -%}
    """
