{% if 'deprecated' in prop_schema -%}
from deprecated import deprecated

{%- endif -%}
from .arena_object import Object


{% if 'deprecated' in prop_schema -%}
@deprecated("{{ definition }}")
{%- endif -%}
class {{ prop_class }}(Object):
    """
    """
    object_type = "{{ prop_name }}"

    def __init__(self, **kwargs):
        super().__init__(object_type={{ prop_class }}.object_type, **kwargs)
